/* class.css should only have styles that apply to classes */

#class-wrapper {
    display: grid;
    grid-template-columns: 3fr 3fr 2fr;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas:
        "header        header        header"
        "announcements announcements work-to-do"
        "footer        footer        footer";
}

/* Can we put a grid inside a grid? */
#class-main-header {
    grid-area: header;
    display: grid;
    grid-template-columns: 6fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "class-name class-name  extras"
    "links      links       links";
    background-color: blue;
}

/* Not sure how to force or not, but for now, NEVER USE OUTSIDE OF A #CLASS-MAIN-HEADER */

#header-class {
    grid-area: class-name;
}

#header-extras {
    grid-area: extras;
}

#header-links {
    grid-area: links;
    display: flexbox;
    flex-direction: row;
}

#header-links a:link{
    color: white;
}

#header-links a:visited{
    color: white;
}
/* Anything below this can be used outside #class-main-header */

#announcements {
    grid-area: announcements;
}

#work-to-do{
    grid-area: work-to-do;
}

#footer{
    grid-area: footer;
}