/* index.css should only have styles that apply to the homepage */

#wrapper {
    display: grid;
    grid-template-columns: 3fr 3fr 2fr;
    grid-template-rows: 1fr 8fr 1fr;
    grid-template-areas:
        "header        header        header"
        "announcements announcements work-to-do"
        "footer        footer        footer";
}

#main-header {
    grid-area: header;
}

#announcements {
    grid-area: announcements;
}

#work-to-do {
    grid-area: work-to-do;
}

footer {
    grid-area: footer;
}